#image {
  width: 100%;
}

#left img {
  max-height:100%;
  max-width:100%;
}

#left {
  width: 100%;
  height: 100%;  
  text-align: center;
}

#caption {
  height: 278px;
  line-height: 278px;
  background-color: white;
  position: absolute;
  top: 35%;
  margin: 0 auto;
  width:100%;
  text-align: center;
  text-transform:uppercase;
  position:absolute;
}

#right {
  width: 100%;
  height: 100%;
}

#right-container {
  width: 70%;
  margin: auto;
}

#menu-menu {
  position: absolute;
  bottom: 50px;
  margin: 0 auto;
  width:100%;
  text-align: center;
  list-style-type: none;
  padding: 0;
  background-color:white;
}

#menu-menu-1 {
  display:none;
}