<div id="medium-menu-items" class="menu-menu-container">
	<ul id="menu-menu" class="menu">
		<% page_count.times do |i| %>
			<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-5 current_page_item menu-item-13">
				<a href="http://theme.dunyakirkali.tk/">L&#8217;Atelier</a>
			</li>
		<% end %>
	</ul>
</div>
