<div class='row'>
	<% page_count.times do |i| %>
		<div class='columns small-4'>
			<div class='mobile-menu-icon'>
				<a href='http://theme.dunyakirkali.tk/?page_id=15'><span class='fa fa-phone fa-2x'></span></a>
			</div>
		</div>
	<% end %>
</div>