<% if page_count < 5 %>
  <div class='row'>
		<% page_count.times do |i| %>
			<div class="columns small-<%= 12 / page_count %>">
				<div class='mobile-menu-icon'>
					<a href='http://theme.dunyakirkali.tk/?page_id=15'><span class='fa fa-phone fa-2x'></span></a>
				</div>
			</div>
		<% end %>
	</div>
<% elsif page_count == 5 %>
	<div class='row'>
		<div class="columns small-6">
			<div class='mobile-menu-icon'>
				<a href='http://theme.dunyakirkali.tk/?page_id=15'><span class='fa fa-phone fa-2x'></span></a>
			</div>
		</div>
		<div class="columns small-6">
			<div class='mobile-menu-icon'>
				<a href='http://theme.dunyakirkali.tk/?page_id=15'><span class='fa fa-phone fa-2x'></span></a>
			</div>
		</div>
	</div>	
	<div class='row'>
		<div class="columns small-4">
			<div class='mobile-menu-icon'>
				<a href='http://theme.dunyakirkali.tk/?page_id=15'><span class='fa fa-phone fa-2x'></span></a>
			</div>
		</div>
		<div class="columns small-4">
			<div class='mobile-menu-icon'>
				<a href='http://theme.dunyakirkali.tk/?page_id=15'><span class='fa fa-phone fa-2x'></span></a>
			</div>
		</div>
		<div class="columns small-4">
			<div class='mobile-menu-icon'>
				<a href='http://theme.dunyakirkali.tk/?page_id=15'><span class='fa fa-phone fa-2x'></span></a>
			</div>
		</div>
	</div>
<% elsif page_count == 6 %>
  <div class='row'>
		<div class="columns small-4">
			<div class='mobile-menu-icon'>
				<a href='http://theme.dunyakirkali.tk/?page_id=15'><span class='fa fa-phone fa-2x'></span></a>
			</div>
		</div>
		<div class="columns small-4">
			<div class='mobile-menu-icon'>
				<a href='http://theme.dunyakirkali.tk/?page_id=15'><span class='fa fa-phone fa-2x'></span></a>
			</div>
		</div>
		<div class="columns small-4">
			<div class='mobile-menu-icon'>
				<a href='http://theme.dunyakirkali.tk/?page_id=15'><span class='fa fa-phone fa-2x'></span></a>
			</div>
		</div>
	</div>
  <div class='row'>
		<div class="columns small-4">
			<div class='mobile-menu-icon'>
				<a href='http://theme.dunyakirkali.tk/?page_id=15'><span class='fa fa-phone fa-2x'></span></a>
			</div>
		</div>
		<div class="columns small-4">
			<div class='mobile-menu-icon'>
				<a href='http://theme.dunyakirkali.tk/?page_id=15'><span class='fa fa-phone fa-2x'></span></a>
			</div>
		</div>
		<div class="columns small-4">
			<div class='mobile-menu-icon'>
				<a href='http://theme.dunyakirkali.tk/?page_id=15'><span class='fa fa-phone fa-2x'></span></a>
			</div>
		</div>
	</div>
<% end %>
