<div class='row' id='main-row'>
	<% if development? %>
	  <div id='first' class='columns small-12 medium-6 large-6' style="background: url('http://placekitten.com/g/600/800') no-repeat center center;">
  <% else %>
	  <div id='first' class='columns small-12 medium-6 large-6' style="background: url('<?php echo get_background_featured_image(); ?>') no-repeat center center;">
  <% end %>

    <div class='row' id="placeholder_1"></div>

    <div class='row' id="caption_row">
      <div class='columns small-10 medium-10 large-10 small-push-1 medium-push-1 large-push-1' id='caption'>
        <div class='row'>
					<% if development? %>
					  <p id='site-title' class='site-title-font'>Test</p>
          <% else %>
					  <p id='site-title' class='site-title-font'><?php echo get_bloginfo('name'); ?></p>
          <% end %>
        </div>
        <div class='row'>
					<% if development? %>
					  <p class='site-subtitle-font'>Best site ever</p>
          <% else %>
					  <p class='site-subtitle-font'><?php echo get_bloginfo('description'); ?></p>
          <% end %>
        </div>
      </div>
    </div>

    <div class='row' id="placeholder_2"></div>    

    <div class='row show-for-small'>    
      <div class='columns small-10 medium-10 large-10 small-push-1 medium-push-1 large-push-1'>
				<% if development? %>
				  <%= partial "small_menu" %>
				<% else %>
					<?php hw_small_menu(); ?>
				<% end %>
      </div>
    </div>
  </div>

  <div class='columns small-12 medium-6 large-6' id='second'>

    <div class='row hide-for-small hide-for-medium'>
      <div class='columns large-12'>
        <% if development? %>
				  <%= partial "large_menu" %>
				<% else %>
	        <?php hw_large_menu(); ?>
				<% end %>
      </div>
    </div>

    <div class='row show-for-medium'>    
      <div class='columns medium-6 medium-push-3' id='medium-menu'>
				<% if development? %>
				  <span class='fa fa-bars menu-icon'></span><a href="#">Test Page</a>
        <% else %>
				  <span class='fa fa-bars menu-icon'></span><a href="#"><?php the_title(); ?></a>
        <% end %>
      </div>
			<%if development? %>
  			<%= partial "medium_menu" %>
			<% else %>
        <?php hw_medium_menu(); ?>
			<% end %>
    </div>    

    <div class='row'>    
      <div class='columns small-10 medium-10 large-8 small-push-1 medium-push-1 large-push-2'>
				<% if development? %>
          <div class='page'>
						<%= partial "page" %>
          </div>
				<% else %>
	        <?php while(have_posts()) : the_post(); ?>
	          <div <?php post_class('page'); ?>>
	            <h2><?php the_title(); ?></h2>
	            <?php the_content(); ?>
	          </div>
	        <?php endwhile; ?>
				<% end %>
      </div>
    </div>

    <div class='row' id='copyright-div'>    
      <div class='columns small-10 medium-10 large-8 small-push-1 medium-push-1 large-push-2'>
				<p id='copyright'>&#169; 2014 Mathilde, All Rights Reserved.</p>
		
        <a id='top' href='#' class='hide-for-small'>Back to top</a>
        <a id='mobile-top' href='#' class='show-for-small'>Back to top</a>
      </div>
    </div>

  </div>  
</div>